# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# External libraries
import/vulkan-headers/
import/volk/
import/vulkanmemoryallocator/
import/glfw/
import/pybind11/
import/spdlog/
import/shaderc/
import/spirv-headers/
import/spirv-tools/
import/glslang/

# Executables/IDE folder
out/

# macos .DS_Store
.DS_Store